.Icono {
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 1021;
}

.Contenedor__Carrito {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,79,0.8);
  z-index: 1022;
}
.Contenedor__Carrito.abierto {
  display: block;
}

.Contenedor__Ventana {
  position: fixed;
  left: 50%;
  top: 43%;
}

.Ventana[data-ocultar="true"] {
  display: none;
}
.Ventana[data-ocultar="false"] {
  display: flex;
}

.Ventana {
  position: relative;
  left: -50%;
  background: rgba(256,256,256,0.9);
  border: 1px dotted blue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}